
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Varela&family=Varela+Round&display=swap');

.bg-img {
  /* The image used */
  background-image: url("doc_bg.jpg");

  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #6A679E;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display:flex;
  flex-direction:column;
}


.active{
    background-color: black;
    
}

.container2 {
 
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 30px;
  color: #444;
}

.box {
  background-color:#9079ab  ;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 135%;
}
.links{
  width:150px;
}

.name{
  font-family: 'Josefin Sans', sans-serif;
  color:black;
  font-weight:bolder;
}

.speciality{
  font-weight:bold;
  color:#4d188c;
}

.treat{
  color:#1b0436;
  font-size: 18px;
}

.viewButton{
  width:100px;
  height:25px;
  border:2px solid black;
  border-radius:10px;
  text-decoration:none;
  text-align:center;
  background-color:#e7dfe8;
}

.buttonlink{
  text-decoration:none;
  color:black;
  font-size:20px;
  font-weight:bolder;
}




